<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <h1>Vincent Fournier - ntfournier</h1>

  <h2>Development Logs</h2>

  <h3>August 19th 2019 - Website Creation</h3>
  <p>
    Today is the creation of my simple website. The main goal of this website is to have a small platform to showcase some of projects (also give me a reason to complete some of them...)
  </p>
  <h4>Work done today</h4>
  <ul>
    <li>Creation of the GitHub <a href="https://github.com/ntfournier/webfolio">webfolio</a> project</li>
    <li>Uglify the base Heroku project (remove Bootstrap)</li>
    <li>
      Change my DNS records to have ntfournier.com point to the Heroku deployment
    </li>
  </ul>

  <h2>Projects</h2>

  <h3>Webfolio</h3>
  <p>This website!</p>



</body>
</html>
