<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <h1>Vincent Fournier - ntfournier</h1>

  <h2>Pong</h2>
  <p>
	A simple clone of Pong made with LibGDX playable <a href="pong/">here</a>.
  </p>
  <p><a href="https://github.com/ntfournier/pong">Code</a></p>

  <h2>Webfolio</h2>
  <p>
	This website is done by using the Getting Started from Heroku with Bootstrap and CSS removed.
  </p>
  <p><a href="https://github.com/ntfournier/webfolio">Code</a></p>



</body>
</html>
